!! Color scheme

! special
*.foreground:   #e67046
*.background:   #121212
*.cursorColor:  #e67046

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #2fb39a

! green
*.color2:       #8c9440
*.color10:      #659d37

! yellow
*.color3:       #e66335
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #bab336

! white
*.color7:       #707880
*.color15:      #c5c8c6

